:root {
  --red: #e50914;
  --background: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  color: var(--red);
  font-size: 40px;
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.active {
  color: #fff;
}

/********************Principal movie*********************/

.principal-movie {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../img/backdrop.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: flex-end;
}

.principal-movie .container {
  margin: 0 auto;
  margin-bottom: 6.25em;
}

.principal-movie .title {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.principal-movie .description {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.principal-movie .button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
}

.principal-movie .button:hover {
  background-color: #fff;
  color: #000;
}

.principal-movie .button i {
  margin-right: 1.25em;
}
/***********Title container and controls**************/
.container-title-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container-title-controls h3 {
  color: #fff;
  font-size: 30px;
}

.container-title-controls .indicators button {
  background: #fff;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.container-title-controls .indicators button:hover,
.container-title-controls .indicators button.active {
  background: var(--red);
}

/***********Principal container and arrows**************/
.recomended-movies {
  margin-bottom: 70px;
}

.recomended-movies .principal-container {
  display: flex;
  align-items: center;
  position: relative;
}

.principal-container .left-arrow,
.principal-container .right-arrow {
  position: absolute;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: cal(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  z-index: 500;
  transition: 0.2s ease all;
  outline: none;
}

.principal-container .left-arrow:hover,
.principal-container .right-arrow:hover {
  background: rgba(0, 0, 0, 0.9);
}

.principal-container .left-arrow {
  left: 0;
}

.principal-container .right-arrow {
  right: 0;
}

/***********Carousel**************/
.recomended-movies .carousel-container {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel-container .carousel {
  display: flex;
  flex-wrap: nowrap;
}

.carousel-container .carousel .movie {
  min-width: 20%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.carousel-container .carousel .movie img {
  width: 100%;
  vertical-align: top;
}

.carousel-container .carousel .movie.hover {
  transform: scale(1.2);
  transform-origin: center;
}

/***********Media queries**************/

@media screen and (max-width: 800px) {
  header .logo {
    margin: 10px;
    font-size: 30px;
  }

  header .container {
    flex-direction: column;
    text-align: center;
  }

  .principal-movie {
    font-size: 14px;
  }

  .principal-movie .description {
    max-width: 100%;
  }

  .carousel-container .carousel .movie {
    overflow: visible;
  }

  .carousel-container .carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .container-title-controls .indicators,
  .principal-container .left-arrow,
  .principal-container .right-arrow {
    display: none;
  }
}
